<div ng-controller = "UserCtrl"class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input ng-model = "data.firstName"type="text" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input ng-model = "data.lastName"type="text" placeholder="Smith">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Phone Number</span>
    <input ng-model = "data.phone"type="tel" placeholder="+18435555555">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input ng-model = "data.email"type="email" placeholder="john@aol.com">
  </label>
</div>
