<div ng-controller = "MessageCtrl"class="list">
  <div class="card">
    <div class="item">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Subject</span>
        <input ng-model = "emailData.emailSubject"type="text" placeholder="content">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Content</span>
        <input ng-model = "emailData.emailBody"type="text" placeholder="content">
      </label>
    </div>
  </div>
</div>
