<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="list list-inset">
         <label class="item item-input">
             <input type="text" placeholder="Username" ng-model="logData.username">
         </label>
         <label class="item item-input">
             <input type="password" placeholder="Password" ng-model="logData.password">
         </label>
     </div>
     <button class="button button-block button-calm" ng-click="regularLogin()">Login</button>
     <button class="button button-calm" ng-click="facebookLogin()">Facebook Login</button>
     <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="regData.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="regData.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="registerUser()">Register</button>
 </ion-content>
</ion-view>
