<ion-view view-title="Login">
  <ion-content class="padding text-center">
    <div class="list list-inset">
         <label class="item item-input">
             <input type="text" placeholder="Username" ng-model="logData.username">
         </label>
         <label class="item item-input">
             <input type="password" placeholder="Password" ng-model="logData.password">
         </label>
     </div>
     <button ng-class = "{turnRed:loginFail}"class="button button-block button-calm" ng-click="regularLogin()">Login</button>
     <br>
     <span id = 'or-tag'>Or/</span>
     <br>
     <button id = 'facebook-login'class="button button-calm" ng-click="facebookLogin()">Facebook Login</button>
     <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="regData.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="regData.password">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="First Name" ng-model="regData.firstName">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Last Name" ng-model="regData.lastName">
          </label>
          <label class="item item-input">
              <input type="email" placeholder="john@aol.com" ng-model="regData.email">
          </label>
      </div>
      <button ng-class = "{turnRed:registerFail}"class="button button-block button-calm" ng-click="registerUser()">Register</button>
 </ion-content>
</ion-view>
